
.main{
	background-color: #EAEAEA;
}
.main-box{
	width: 1200px;
	margin:0 auto;
}
.movie{
	height: 300px;
}
.movie-position{
	height: 252px;
	width: 182px;
	background-color: white;
	position: absolute;
	margin-top: 24px;
	margin-left: 20px;
}
	/*.movie-picture{*/
		/*height: 252px;*/
		/*width: 182px;*/
		/*background-color: white;*/
		/*position: absolute;*/
	/*}*/
.movie-overview{
	position: absolute;
	margin-left: 250px;
	margin-top: 20px;
}
.movie-name{
	font-size: 20px;
	color: #FFF
}
.movie-other{
	font-size: 15px;
	color: #FFF
}
.movie-details{
	padding-top: 20px;
}
.synopsos{
	width: 810px;
	position: absolute;
}
.synopsos-first{
	font-size: 14px;
	border-left: 4px solid #E86263;
	padding-left: 5px;
}
.synopsos-second{
	font-size: 18px;
	font-family: 华文新魏;
}

.performer{
	padding-top: 20px;
	/*width: 810px;*/
	height: 240px;
}
.performer-first{
	font-size: 14px;
	border-left: 4px solid #E86263;
	padding-left: 5px;
}
/*.performer-second{*/
	/*width: 104px;*/
	/*padding-left: 5px;*/
/*}*/
.people{
	display: inline-block;
}
.performer-photo{
	width: 104px;
	height: 148px;
	padding-left: 15px;
}

.stills{
	padding-top: 20px;
	width: 810px;
	height: 200px;
}
.stills-first{
	font-size: 14px;
	border-left: 4px solid #E86263;
	padding-left: 5px;
}
.performer-second{
	height: 225px;
}
.performer-photo{
	width:104px;
	height: 104px;
	padding-left: 15px;
}  

.review{
	padding-top: 20px;
	width: 810px;
}
.review-first{
	font-size: 14px;
	border-left: 4px solid #E86263;
	padding-left: 5px;
}
.score{
	font-size: 12px;
}
.input{
	width: 810px;
	height: 88px;
	/*border: 1px solid #EAEAEA;*/
	/*background-color: #fff;*/
}
.myfloatleft{
	float:left;
}
.else{
	color: #222222;
	font-size: 12px;
}
.else:hover{
	color: #999; 
}
.submit{
	width: 84px;
	height: 30px;
	border-width: 0px;
	background: #E86263; 
	cursor: pointer; 
	outline: none; 
	font-family:"Arial";
	color: white;
	font-size: 14px; 
	margin-left: 726px;
	margin-top: 10px;
}
.submit:hover { 
	background: #E86263; 
	opacity: 0.5;
}
.member{
	width: 810px;
	height: 900px;
}
.people{
		width:104px;
		text-align:center;
		font-size:10px;
		color: gray;
		margin-right: 10px;
		margin-left: 10px;
		margin-top: 10px;
		float: left;
		height: 195px;
	}
	.people .head{
		width:100%;
		height: 148px;
	}

.dim{
	opacity:0.6;
	filter: blur(5px);
	background-size:cover;
}
.mask{
  	background: #000;
  	z-index: 1;
  	position: absolute;
}
.movie-picture{
	height: 252px;
	width: 182px;
	background-color: white;
	position: absolute;
	/*margin-top: 24px;*/
	/*margin-left: 20px;*/
	z-index: 2;
}
.movie-overview{
	position: absolute;
	margin-left: 250px;
	margin-top: 20px;
	z-index: 2;
}
.member{
	width: 810px;
	height: 134px;
	border-bottom: 1.5px solid #FEF3F3;
	padding-top: 20px;
}

.portrait{
	width: 54px;
	height: 54px;
	background-color:white;
	float: left;
}
.name{
	font-size: 14px;
	color: #999999;
}
.comment{
	font-size: 14px;
}
