<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
</head>
<body>
<header class="header">
		<div class="title">
			<img src="{% static 'source/logo.jpg' %}" class="title-logo-img" alt="">
			<div class="title-logo">
				<span class="title-logo-name">云顶电影榜</span>
			</div>
            {% block login %}
                <div class="title-right">
                    <a href="#" class="title-login title-a">登录|</a><a href="#" class="title-register title-a">注册</a>
                </div>
            {% endblock %}
			<div class="box">
                <form action="#">
                    <input type="text" name="search" placeholder="请输入想搜索的电影..." class="title-input">
                    <div class="search"><img src="{% static 'source/research.jpg' %}" alt="" class="box-img"></div>
                </form>
   			</div>
   			<div class="title-choose">
   				<ul class="title-choose-ul">
                    <li class="title-choose-li"><a href="{% url 'apps.ranking:ranking' %}" {% if type %}style="color: white"{% endif %}>分类排行榜</a></li>
   					<li class="title-choose-li"><a href="{% url 'apps.ranking:top250' %}" {% if top250 %}style="color: white"{% endif %}>TOP250榜</a></li>
   					<li class="title-choose-li"><a href="{% url 'apps.ranking:box_office' %}" {% if boxoffice %}style="color: white"{% endif %}>国内票房榜</a></li>
   					<li class="title-choose-li"><a href="{% url 'apps.ranking:chart' %}" {% if chart %}style="color: white"{% endif %}>热议新片榜</a></li>
   					<li class="title-choose-li"><a href="{% url 'apps.ranking:now_playing' %}" {% if nowplaying %}style="color: white"{% endif %}>热映高分榜</a></li>
   				</ul>
   			</div>
		</div>
	</header>
    {% block main_body %}
    {% endblock %}
</body>
</html>