<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>登录</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
</head>
<body>
	<header class="header">
		<div class="title">	
			<img src="img/logo.jpg" class="title-logo-img">
			<div class="title-logo">
				<span class="title-logo-name">云顶电影榜</span>
			</div>
			<div class="title-right">
				<a href="#" class="title-login title-a">登录|</a><a href="#" class="title-register title-a">注册</a>
			</div>
			<div class="box">
       			<input type="text" name="search" placeholder="请输入想搜索的电影..." class="title-input">
       			<input type="submit" class="search" value=".">
       			
   			</div>
   			<div class="title-choose">
   				<ul class="title-choose-ul">
   					<li class="title-choose-li"><a href="" style="color: gray">TOP100榜</a></li>
   					<li class="title-choose-li"><a href="" style="color: gray">国内票房榜</a></li>
   					<li class="title-choose-li"><a href="" style="color: gray">热议新片榜</a></li>
   					<li class="title-choose-li"><a href="" style="color: white">热映高分榜</a></li>  					
   				</ul>
   			</div>
		</div>
	</header>
	<section>
		<div class="center">
			<div class="left">
			  <p class="personal-data">个人资料</p>
			  <div class="avatar"></div>
			  <p class="name">姓名</p>
			  <p class="personal-data">账号资料</p>
			  <div class="personal-information">
			  	<p>手机号：xxxxxxxxxx</p>
			  	<p>密码:xxxxxxxxx</p>
			  </div>
			</div>	
			<div class="right">
				<div class="right-personal">
				<p class="right-personal-data  ">我的点评</p>
				</div>
				<div class="comment"></div>
				<div class="comment"></div>
				<div class="comment"></div>
				<div class="comment"></div>
				<div class="comment"></div>
				<div class="comment"></div>
				<div class="view-more">
				<a href="#" style="color: gray" >查看更多</a>
				</div>
			</div>		
		</div>
		
	</section>
</body>
</html>