{% extends 'base.html' %}
{% block title %}{{ user.username }}的首页{% endblock %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/user/reset.css' %}">
{% endblock %}
{% block js %}
<script>
    {% if havemore %}
    function more() {
        var url = '/user/comment/?commentsCount=';
        var xmlget = new XMLHttpRequest();
        var commentCount = document.getElementsByClassName('comment').length;
        xmlget.open('GET', url+commentCount.toString(), true);
        xmlget.onreadystatechange=function() {
            if (xmlget.readyState === 4 && xmlget.status === 200) {
                var c = JSON.parse(xmlget.responseText);
                for(var i=0; i<c.length;i++){
                    var div = document.createElement('div');
                    var big = document.getElementsByClassName('right')[0];
                    var m = document.getElementsByClassName('view-more')[0];
                    big.insertBefore(div, m);
                    div.style = "margin-top: 30px";
                    div.className = 'comment';
                    var content = document.createElement('p');
                    div.appendChild(content);
                    content.innerText = "评论电影："+c[i]['movie'];
                    var commentTime = document.createElement('p');
                    div.appendChild(commentTime);
                    commentTime.style = "border-bottom: 2px solid #FEF3F3;";
                    commentTime.innerText = "评论时间："+c[i]['commentTime'];
                    var comment = document.createElement('p');
                    div.appendChild(comment);
                    comment.style = "border-bottom: 2px solid #000000;font-family: 华文楷体";
                    comment.innerText = "内容："+c[i]['comment'];
                }
            }
        };
        xmlget.send(null);
}
    {% endif %}

</script>
{% endblock %}
{% block main_body %}
    <section>
		<div class="center">
			<div class="left">
			  <p class="personal-data">个人资料</p>
			  <div class="avatar">
                  <img style="width: 100px" src="{% static 'source/boy.jpg' %}">
              </div>
			  <p class="name">姓名: {{ user.username }}</p>
			  <p class="personal-data">账号资料</p>
			  <div class="personal-information">
                <p>邮箱: {{ user.email }}</p>
			  </div>
			</div>
			<div class="right">
				<div class="right-personal">
				<p class="right-personal-data  ">我的点评</p>
				</div>
                {% for comment in comments %}
                    <div style="margin-top: 30px" class="comment">
                    <p>评论电影：{{ comment.movie.name }}</p>
                    <p style="border-bottom: 2px solid #FEF3F3;">评论时间：{{ comment.comment_time }}</p>
                    <p style="border-bottom: 2px solid #000000;font-family: 华文楷体">内容：{{ comment.comment }}</p>
                    </div>
                {% endfor %}
            {% if havemore %}
                    <div class="view-more">
                    <a href="javascript:more()" style="color: gray" >查看更多</a>
                    </div>
            {% endif %}
			</div>

		</div>
	</section>
{% endblock %}

